* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

/* header */

#background-image {
    background-image: url("../images/apple-pie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image h1 {
    font-size: 4.5rem;
    font-weight: 400;
    color: white;
}

/* sections */

#container {
    display: block;
    padding: 100px;
}

#container .info-image {
    text-align: center;
    margin: 20px 0px;
}

#container .info-image img {
    width: 50%;
}

#container hr {
    border: 1px solid rgb(163, 163, 163);
}

#container h2 {
    font-size: 1.3rem;
    font-weight: 400;
}

#container h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 30px;
}

#container .list {
    margin-top: 40px;
}

#container ul {
    padding-left: 20px;
    list-style: none;
}